html,body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background: url('https://avatars.mds.yandex.net/get-altay/4335161/2a000001792567786388209966d2829f3405/XXXL');
  background-size: cover;
  background-repeat: no-repeat;
}

h3,h4,h5,h6,p, label {
  background: rgba(255,255,255,.7);
  text-shadow: 1px -1px 0 #767676;
  padding: 8px 15px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  border-radius: 50%;
  display: block;
}

h3 {
  text-align: center;
}

footer {
  margin-top: auto;
  padding-top: 15px;
}